@using WeeBitsHRService.Models
@using WeeBitsHRService.ViewModels

@model IEnumerable<Employee>
 @{
	var avgbyGender = ViewData["AvgPaybyGender"] as IEnumerable<AveragePayByGenderViewModel>;
	var avgbyJobCategory = ViewData["AvgPaybyJob"] as IEnumerable<AveragePayByJobViewModel>;
}
@{
	ViewData["Title"] = "Average Payrates Report";
}
<link rel="stylesheet" href="~/lib/plugins/datatables/dataTables.css" />
<link rel="stylesheet" href="~/lib/plugins/datatables/datatables-reports.min.css" />

<br />
<h2 class="text-center">Average Payrate by Gender</h2>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				Gender
			</th>
			<th>
				Average Payrate
			</th>
	</thead>
	<tbody>
		@foreach (var item in avgbyGender)
		{
			<tr>
				<td>
					@item.Gender
				</td>
				<td>
					@item.AveragePay
				</td>
			</tr>
		}
	</tbody>
</table>

<br />

<h2 class="text-center">Average Payrate by Role</h2>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				Job Role
			</th>
			<th>
				Average Payrate
			</th>
	</thead>
	<tbody>
		@foreach (var item in avgbyJobCategory)
		{
			<tr>
				<td>
					@item.JobCategory.Name
				</td>
				<td>
					@item.AveragePay
				</td>
			</tr>
		}
	</tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/plugins/datatables/dataTables.js"></script>
<script src="~/js/employees.js"></script>
