@{
	ViewData["Title"] = "Home";
}
<center>
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="splash">
		</div>
		<a class="w-100 btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
	</div>
</center>