@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable Two-Factor Authentication";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<h3>@ViewData["Title"]</h3>
<br />

<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
<partial name="_StatusMessage" for="StatusMessage" />
<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="w-100 btn btn-lg btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
<div>