html {
    font-size: 14px;
    background-color: #65e8e0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #65e8e0;
}

.splash {
    background: url("../img/main.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
}

footer {
    display: contents;
}

.form-control, #login-submit {
    margin-bottom: 0.5em;
}

.dataTable th {
    background-color: #000;
    color: white;
}

.dataTable td {
    background-color: #65e8e0;
}

.dt-button {
    margin-top: -0.33em;
    margin-right: 0 !important;
    margin-left: 0.5em;
    padding: 0.3em 0.5em !important;
    font-size: .875rem !important;
    border-radius: 0.2rem !important;
}

.dt-buttons {
    margin-left: 5em;
}

.buttons-columnVisibility {
    margin-left: 0;
}

#DataTables_Table_0_length {
    float: left;
}

#DataTables_Table_0_filter {
    float: right;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1700px;
    }
}

.w-497 {
    width: 49.7% !important;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: 600;
}

main {
    min-height: 85vh;
}