html {
    font-size: 14px;
    background-color: #65e8e0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #65e8e0;
}

.splash {
    background: url("../img/main.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
}

footer {
    display: contents;
}

.form-control, #login-submit {
    margin-bottom: 0.5em;
}