@page
@model RegisterModel
@{
	ViewData["Title"] = "Add Employees";
}

<div class="row">
	<center>
		<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
			<form id="employeeForm" method="post">
				<h2>Add a new employee</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating">
					<input asp-for="Input.Email" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.Email">Email</label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.FirstName" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.FirstName">First Name</label>
					<span asp-validation-for="Input.FirstName" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.LastName" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.LastName">Last Name</label>
					<span asp-validation-for="Input.LastName" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.AddressLine1" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.AddressLine1">Address Line 1</label>
					<span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.AddressLine2" class="form-control" autocomplete="on" placeholder=" " />
					<label asp-for="Input.AddressLine2">Address Line 2</label>
					<span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Town" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.Town">Town</label>
					<span asp-validation-for="Input.Town" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.PostCode" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.PostCode">Post Code</label>
					<span asp-validation-for="Input.PostCode" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Country" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.Country">Country</label>
					<span asp-validation-for="Input.Country" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.PhoneNumber" class="form-control" autocomplete="on" aria-required="true" placeholder=" " />
					<label asp-for="Input.PhoneNumber">Phone Number</label>
					<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
					<label asp-for="Input.Password">Password</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
					<label asp-for="Input.ConfirmPassword">Confirm Password</label>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button id="employeeSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add Employee</button>
			</form>
		</div>
	</center>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
