@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		if (User.IsInRole("Manager"))
		{
			<li class="nav-item m-1">
				<a class="btn btn-primary" asp-controller="Employees" asp-action="Create" title="Add Employee"><i class="fas fa-plus"></i> Add Employee</a>
			</li>
			<li class="nav-item m-1">
				<a class="btn btn-secondary" asp-controller="Reports" asp-action="CurrentEmployees" title="Current Employees"><i class="fas fa-users"></i> Current Employees</a>
			</li>
			<li class="nav-item m-1">
				<a class="btn btn-secondary" asp-controller="Reports" asp-action="EmployeesDemographics" asp-route-gender="0" asp-route-start_age="21" asp-route-end_age="37" title="Employee Demographics"><i class="fas fa-table"></i> Employees Demographics</a>
			</li>
			<li class="nav-item m-1">
				<a class="btn btn-secondary" asp-controller="Reports" asp-action="AveragePayrate" title="Average Payrate"><i class="fas fa-chart-bar"></i> Average Payrate</a>
			</li>
			<li class="nav-item m-1">
				<a class="btn btn-secondary" asp-controller="Reports" asp-action="AbsenteeProfile" asp-route-start_date="2021-01-01" asp-route-end_date="2021-07-07" title="Absentee Profile"><i class="fas fa-address-book"></i> Absentee Profile</a>
			</li>
			<li class="nav-item m-1">
				<a class="btn btn-secondary" asp-controller="Reports" asp-action="AnnualStaffTurnover" asp-route-year="2021" title="Annual Staff Turnover"><i class="fas fa-people-arrows"></i> Annual Staff Turnover</a>
			</li>
		}
		<li class="nav-item m-1">
			<a class="nav-link text-dark" href="/profile">Welcome, @User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("@"))!</a>
		</li>
		<li class="nav-item mt-1">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Content("/")" method="post">
				<button type="submit" class="btn btn-danger"><i class="fas fa-power-off"></i> Logout</button>
			</form>
		</li>
	}
</ul>
